name: Promote Feature to Main

on:
  push:
    branches:
      - 'feature/*'

jobs:
  merge-to-main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git fetch origin
          git checkout main
          git merge ${{ github.ref_name }} --no-edit --allow-unrelated-histories
          git push origin main
