name: Promote Feature to Main and Deploy to Dev

permissions:
  contents: write

on:
  push:
    branches:
      - 'feature/*'
  workflow_dispatch:

jobs:
  merge-to-main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Fetch all branches
        run: git fetch origin

      - name: Checkout main branch
        run: git checkout main

      - name: Merge Feature into Main
        run: |
        git merge ${{ github.ref_name }} --no-edit --allow-unrelated-histories
        git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/kumaragurus-cmd/appgithhub.git main
